
body {
    margin: 0;
    background-size: 100%;
    width:auto;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    width:auto;
    background-image: url('img-1.webp');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height of viewport */
    position: relative;
    color: white;
    text-align: center;
}
nav {
    display: flex;
    position: absolute;
    width:auto;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
nav ul {
    width:auto;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 800px;
}
nav ul li {
    width:auto;
    display: inline;
    margin: 10px 15px;
    font-size: 20px;
    padding-left: 40px;
}
nav ul li a {
    width:auto;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
nav ul li a:hover {
    text-decoration: underline;
}
.header-content {
    color: white;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: right;
}
.header-content h2{
    font-size: 50px;
}
p {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 2em;
}
.header-content button {
    width:auto;
    background-color: white;
    border: 1px white;
    border-radius: 5px;
    color: #4f1500;
    text-align: center;
    display: inline;
    font-size: 20px;
    padding: 10px 30px;
    margin: 8px 5px;
    cursor: pointer;
}
.header-content button :hover{
    background-color: #4f1500;
}



.intro{
    margin: 20px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height of viewport */
    position: relative;
    color: black;
    text-align: left;
    display: inline;
}
.intro img{
    margin-top: 20px;
    margin-right: 80px;
    width: 300px;
}
.intro-img :hover{
    background-color: #4f1500;
    box-shadow: 0 0 15px #4f1500,
                0 0 50px #4f1500;
    color: white;
}
.intro h1{
    font-size: 40px;
    color: #4f1500;
}
.intro-content{
    margin: 20px;
    padding-top: 30px;
    padding-left: 50px;
}
.intro button{
    display: inline;
    width: 150px;
    background-color: #4f1500;
    color: white;
    margin-left: 50px;
    padding: 10px;
    border-radius: 5px;
}

.books {
    padding: 40px 20px;
    background-color: #4f1500;
    text-align: center;
}

.books h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book {
    background-color: #f9f9f9;
    padding: 20px;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.book h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.book p {
    font-size: 1rem;
}
.book img{
    width: 150px;
}
.books button{
    background-color: #4f1500;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.content{
    width:auto;
    margin: 20px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height of viewport */
    position: relative;
    color: black;
    text-align: left;
    display: inline;
}
.content img{
    width:auto;
    margin-top: 20px;
    margin-left: 80px;
    width: 400px;
}

.content-content{
    width:auto;
    display: justify;
    margin: 20px;
    padding-top: 30px;
    padding-left: 400px;
    padding-right: 50px;
}
.content button{
    display: inline;
    width: 150px;
    background-color: #4f1500;
    color: white;
    padding: 10px;
    margin-left: 50px;
    border-radius: 5px;
}

.search{
    background-color: #4f1500;
    color: white;
    line-height: 2em;
    padding: 20px;
}
.search h1{
    color:#f9f9f9;
}
.search-container {
    float: center;
    margin: 10px;
}
.search-container button{
    color:white;
}
.search-list{
    display: flex;
    padding: 50px;
}
.search-list ul{
    margin-left: 20px;
}
.search-content{
    display: flex;
}
.search-content img{
    width: 700px;
}


form {
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid #4f1500;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid #4f1500;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: #4f1500;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: blue;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 8px;
    background-color: rgb(228, 242, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
    color: black;
}


footer {
    background-color: #4f1500;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .book {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .book {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .intro p {
        font-size: 1rem;
    }
}
